<!-- https://github.com/pugjs/pug -->

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="Description", content="404 page for Relativity6.")
		meta(name="author", content="Relativity6")
		link(rel="canonical", href="http://www.relativity6.com/")
		meta(property="og:title", content="Relativity6 - Artificial Intelligence from MIT")
		meta(property="og:site_name", content="Relativity6")
		meta(property="og:url", content="http://www.relativity6.com/")
		meta(property="og:image", content="http://www.relativity6.com/assets/relativity6-text-logo.png")
		meta(property="og:description", content="404 page for Relativity6.")
		meta(property="og:image", content="http://www.relativity6.com/assets/relativity6-text-logo.png")
		meta(property="og:type", content="article")
		meta(property="twitter:card", content="summary_large_image")
		meta(property="twitter:description", content="404 page for Relativity6.")
		meta(property="twitter:title", content="Relativity6 - Artificial Intelligence from MIT")
		title= "Artificial Intelligence - Relativity6 - 404"
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", type="text/javascript")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", crossorigin="anonymous", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", rel="stylesheet")
		link(href="../styles/styles.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,100italic,200italic,300italic,400italic,500italic,600italic,700italic", type="text/css", rel="stylesheet")
		link(rel="icon", href="../assets/marvin_logo_small_favicon.png", type="image/png")
	body
	nav(class="navbar navbar-default")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
					span(class="sr-only")= "Toggle navigation"
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand", href="/")
					img(alt="Brand-Img", class="img-responsive", src="../assets/marvin_logo_small.png")
				a(class="navbar-brand", href="/")
					img(alt="Brand-Text", class="img-responsive brand-text text-logo-nav", src="../assets/R6_logo_cropped.png")
					img(alt="Brand-Text", class="img-responsive brand-text small-R6", src="../assets/small-R6.png")
			div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav pull-right navbar-links-right")
					li
						a(href="/features", class="text-uppercase")= "Features"
					li
						a(href="/contact", class="text-uppercase")= "Contact Us"
					li
						a(href="/case-study", class="text-uppercase")= "Case Study"
					li
						a(href="/demo", class="text-uppercase")= "Demo"
	div(class="404-page-container" style="text-align:center;")
		div(class="404-marvin-fist-bump")
			h1(class="404-headline" style="color:red;font-size:50px;font-weight:800;")= "404, sure you're in the right place?"
			img(src="../assets/marvin_fist_bump.gif" style="width:80%;")
	footer(class="footer")
		div(class="footer-content row")
			p(class="copyright")= "© 2016 Relativity6, Inc. All rights reserved."