<!-- https://github.com/pugjs/pug -->

doctype html
html(lang="en", style="background-color:black;")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= "Relativity6"
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", type="text/javascript")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", crossorigin="anonymous", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", rel="stylesheet")
    link(href="../styles/styles.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,100italic,200italic,300italic,400italic,500italic,600italic,700italic", type="text/css", rel="stylesheet")
    link(rel="icon", href="../assets/marvin_logo_small_favicon.png", type="image/png")
  body
  nav(class="navbar navbar-default")
    div(class="container-fluid")
      div(class="navbar-header")
        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
          span(class="sr-only")= "Toggle navigation"
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand", href="#")
          img(alt="Brand-Img", class="img-responsive", src="../assets/marvin_logo_small.png")
        a(class="navbar-brand", href="#")
          img(alt="Brand-Text", class="img-responsive brand-text", src="../assets/relativity6-text-logo-150x36.png")
          img(alt="Brand-Text", class="img-responsive brand-text small-R6", src="../assets/small-R6.png")
      div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav pull-right navbar-links-right")
          li
            a(href="/features", class="text-uppercase")= "Features"
          li
            a(href="/contact-us", class="text-uppercase")= "Contact Us"
          li
            a(href="/case-study", class="text-uppercase")= "Case Study"
          li
            a(href="/demo", class="text-uppercase")= "Demo"
  div(class="case-study-container")
    div(class="row case-study-headline-container")
      img(class="coachup-logo" src="../assets/coachup-logo.png")
      h2(class="case-study-headline text-uppercase")= ": Case Study"
      h3(class="row case-study-sub-headline text-uppercase")= "Reactivate Lapsed Customers with Machine Learning"
    br
    div(class="case-study-rundown-container")
      div(class="row case-study-objective-container")
        h3(class="case-study-objective-headline text-uppercase")= "Objective"
        p(class="case-study-objective-description")= "We worked with CoachUp to identify and reactivate customers who hadn't purchased in at least 6 months."
      div(class="row case-study-objective-container")
        h3(class="case-study-strategy-headline text-uppercase")= "Strategy"
        p(class="case-study-objective-description")= "Utilizing CoachUp's exisiting data we conducted feature learning and engineering to train and test our Artificial Intelligence algorithms. We pinpointed lapsed customers with at least a 60% probability or repurchasing in September."
        p(class="case-study-objective-description")= "Those lapsed customers were sent a reactivation email with a discount code."
      div(class="row case-study-objective-container")
        h3(class="case-study-results-headline text-uppercase")= "Results"
        p(class="case-study-results-description")= "50% increase in email open rate as compared to standard campaigns."
        p(class="case-study-results-description")= "85% increase in coaching sessions booked as compared to standard campaigns."
    div(class="case-study-image-container")
      img(class="case-study-image" src="../assets/red-outside-sport-match-smaller-faded-topandbottom.png") 