<!-- https://github.com/pugjs/pug -->

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title= "Relativity6"
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", type="text/javascript", async)
		script(type="text/javascript", src="jquery.lazyload.min.js", async)
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous", async)
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", crossorigin="anonymous", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", rel="stylesheet", async)
		link(href="../styles/styles.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,100italic,200italic,300italic,400italic,500italic,600italic,700italic", type="text/css", rel="stylesheet")
		link(rel="icon", href="../assets/marvin_logo_small_favicon.png", type="image/png")
	body
	nav(class="navbar navbar-default")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
					span(class="sr-only")= "Toggle navigation"
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand", href="/")
					img(alt="Brand-Img", class="img-responsive", src="../assets/marvin_logo_small.png")
				a(class="navbar-brand", href="/")
					img(alt="Brand-Text", class="img-responsive brand-text", src="../assets/relativity6-text-logo-150x36.png")
					img(alt="Brand-Text", class="img-responsive brand-text small-R6", src="../assets/small-R6.png")
			div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav pull-right navbar-links-right")
					li
						a(href="/features", class="text-uppercase")= "Features"
					li
						a(href="/contact", class="text-uppercase")= "Contact Us"
					li
						a(href="/case-study", class="text-uppercase")= "Case Study"
					li
						a(href="/demo", class="text-uppercase")= "Demo"
	div(class="row hero-image-container")
		img(class="img-responsive hero-image lazy", id="hero-image", data-original="../assets/hero-image-compressed.png", src="../assets/hero-image-compressed.png")
		h2(class="hero-headline text-uppercase")= "reactivate your lost customers"
		h2(class="hero-headline text-uppercase hero-headline-thin")= "with artificial intelligence"
		p(class="hero-description text-uppercase")= "Relativity6 uncovers opportunities hidden within your own database. Our automated machine learning platform predicts with above 90% accuracy when and what your customers will purchase."
		h4(class="hero-headline text-uppercase hero-cta-white")= "reactivate 60% of your lapsed customers"
		a(href="/demo")
			button(type="button", class="hero-btn text-uppercase", href="/demo")= "Schedule your demo"
	div(class="row testimonial-container")
		p(class="testimonial-description")= "“Having seen the accuracy of the initial predictions, we’re very excited to use the intelligence we’ll get from this platform to help us better focus our sales team’s efforts going into our busy season (Q4). We’re expecting that the predictions will help us bring in an additional $100-200k of revenue with very minimal effort and give us valuable insight with which to plan our scheduling and purchasing.”"
		div(class="testimonial-person-image-container")
			img(class="img img-responsive testimonial-person-image img-circle" src="../assets/chris_patten_magellan.jpg")
			span(class="testimonial-person-image-name")= "Christopher Patten"
			br
			span(class="testimonial-person-image-role")= "Director of Operations, Magellan Jets"
	div(class="key-features-container")
		h1(class="key-features-headline text-uppercase")= "Key Features"
		div(class="key-features-section")
			div(class="row")
				div(class="feature-container col-md-6")
					img(class="feature-icon" src="../assets/re-sync.png")
					p(class="features text-uppercase")= "Seamless Data Syncing"
				div(class="feature-container col-md-6")
					img(class="feature-icon" src="../assets/automated_machine_icon.png")
					p(class="features text-uppercase")= "Automated Machine Learning"
				div(class="feature-container col-md-6")
					img(class="feature-icon" src="../assets/re-channel.png")
					p(class="features text-uppercase")= "Channel Sensitivity Analysis"
				div(class="feature-container col-md-6")
					img(class="feature-icon" src="../assets/re-value.png")
					p(class="features text-uppercase")= "Purchasing predictions by individual analysis"
	div(class="row monitors")
		h1(class="key-features-headline text-uppercase")= "Platform"
		div(class="monitor-img-container marvin-analyze-monitor col-md-6")
			img(class="monitor-img marvin-analyze-monitor-img" src="../assets/marvin_analyze_monitor.png")
		div(class="monitor-img-container marvin-results-dashboard col-md-6")
			img(class="monitor-img marvin-results-dashboard-img" src="../assets/marvin_results_dashboard_monitor.png")
	div(class="row testimonial-container")
		p(class="testimonial-description")= "We're a team of MIT professors, data scientists, behavioral economists and business strategists that have developed a set of predictive statistical models, machine learning algorithms, and randomized field experiments tailored specifically to discover the most effective ways to reactivate lapsed customers."
	div(class="row mit-logos-container")
		img(class="col-md-4 mit-logo", src="../assets/mitsloan_circle-ID-a50ec236-67ba-4cc8-8b40-d86b91e6e8cb.png")
		img(class="col-md-4 mit-logo", style="margin-left:5%", src="../assets/mit-soe-logo.png")
		img(class="col-md-4 mit-logo", src="../assets/Award_logo_1-ID-46da4da6-06db-448d-934a-4923d7c3b4e1.png")
	footer(class="footer")
		div(class="footer-content row")
			p(class="copyright")= "© 2016 Relativity6, Inc. All rights reserved."
	script.

		$(function() {
		    $("img.lazy").lazyload({
		    	effect: "fadeIn"
		    });
		});
