<!-- https://github.com/pugjs/pug -->

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="Description", content="This is the Shopify Demo Page for Relativity6. Relativity6 is a team of MIT professors, data scientists, behavioral economists and business strategists that have developed a set of predictive statistical models, machine learning algorithms, and randomized field experiments tailored specifically to discover the most effective ways to reactivate lapsed customers for clients.")
		meta(name="author", content="Relativity6")
		link(rel="canonical", href="http://www.relativity6.com/")
		meta(property="og:title", content="Relativity6 - Artificial Intelligence from MIT")
		meta(property="og:site_name", content="Relativity6")
		meta(property="og:url", content="http://www.relativity6.com/")
		meta(property="og:image", content="http://www.relativity6.com/assets/relativity6-text-logo.png")
		meta(property="og:description", content="Relativity6 is a team of MIT professors, data scientists, behavioral economists and business strategists that have developed a set of predictive statistical models, machine learning algorithms, and randomized field experiments tailored specifically to discover the most effective ways to reactivate lapsed customers for clients.")
		meta(property="og:image", content="http://www.relativity6.com/assets/relativity6-text-logo.png")
		meta(property="og:type", content="article")
		meta(property="twitter:card", content="summary_large_image")
		meta(property="twitter:description", content="Relativity6 is a team of MIT professors, data scientists, behavioral economists and business strategists that have developed a set of predictive statistical models, machine learning algorithms, and randomized field experiments tailored specifically to discover the most effective ways to reactivate lapsed customers for clients.")
		meta(property="twitter:title", content="Relativity6 - Artificial Intelligence from MIT")
		title= "Artificial Intelligence - Relativity6 - Shopify Demo"
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", type="text/javascript")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", crossorigin="anonymous", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", rel="stylesheet")
		link(href="../styles/styles.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,100italic,200italic,300italic,400italic,500italic,600italic,700italic", type="text/css", rel="stylesheet")
		link(rel="icon", href="../assets/marvin_logo_small_favicon.png", type="image/png")
	body
	nav(class="navbar navbar-default")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
					span(class="sr-only")= "Toggle navigation"
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand", href="/")
					img(alt="Brand-Img", class="img-responsive", src="../assets/marvin_logo_small.png")
				a(class="navbar-brand", href="/")
					img(alt="Brand-Text", class="img-responsive brand-text", src="../assets/relativity6-text-logo-150x36.png")
					img(alt="Brand-Text", class="img-responsive brand-text small-R6", src="../assets/small-R6.png")
			div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav pull-right navbar-links-right")
					li
						a(href="/features", class="text-uppercase")= "Features"
					li
						a(href="/contact", class="text-uppercase")= "Contact Us"
					li
						a(href="/case-study", class="text-uppercase")= "Case Study"
					li
						a(href="/demo", class="text-uppercase")= "Demo"
	div(class="row landing-page-hero-container")
		div(class="col-md-6")
			img(src="../assets/marvin_fist_bump.gif")
		div(class="col-md-6")
			img(src="https://cdn.shopify.com/assets2/press/brand/shopify-logo-main-small-f029fcaf14649a054509f6790ce2ce94d1f1c037b4015b4f106c5a67ab033f5b.png")
	div(class="contact-form-container")
		if message
			h1(style="color:#73DC69;")= message
		h1(class="text-uppercase")= "Thanks for your interest!"
		h4(class="text-uppercase")= "Just kindly fill out the form below and one of our sales representatives will contact you shortly."
		div.content(style="padding-top:10px;")
			form(action='/demo', name='demoform', id='demoform', method='post')
				fieldset
					p
						label(for='firstname')= "*First Name:"
						br
						input(name='firstname', type='text', value='', id='firstname', required)
					p
						label(for='lastname')= "*Last Name:"
						br
						input(name='lastname', type='text', value='', id='lastname', required)
					p
						label(for='email')= "*Email:"
						br
						input(name='email', type='email', value='', id='email', required)
					p
						label(for='phone')= "*Phone Number:"
						br
						input(name='phone', type='text', value='', id='phone', required)
					p
						label(for='jobtitle')= "*Job Title:"
						br
						input(name='jobtitle', type='text', value='', id='jobtitle', required)
					p
						label(for='company')= "*Company Name:"
						br
						input(name='company', type='text', value='', id='company', required)
					p
						label(for='country')= "*Country"
						br
						select(name="country", class="form-select required", id="edit-submitted-name-and-address-country", required)
							each val in countries
								option(value={val}.val)= val
					p
						input(name="page", type="hidden", id="page", value="")
					p
						input(name='submit', type='submit', value='Send', id='submit')
		script.
			var pageElement = document.getElementById('page');
			pageElement.value = window.location.href;